* {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {

    --primary-color: #343434;
    --secondary-color: rgb(20, 20, 20);
    --white-color: white;
    --primary-green: rgb(9, 168, 35);
    --secondary-green: rgb(56, 211, 82);
}

nav {

    width: 100%;
    height: 53px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

nav ul {

    display: flex;
    justify-content: center;
}

nav ul li {

    margin: 15px 37px 0;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
}

nav ul li:before {

    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    transition: 0.1s ease-in-out;
    border-bottom: 2px solid var(--secondary-green);
}

nav ul li:hover:before {

    width: 100%;
}

a {

    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-green);
}

#port-text:hover {

    transform: scale(1.2);
}

.contact-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10em;
}
span {

    display: block;
}

.intro {

    margin-top: 84px;
    color: var(--white-color);
    font-size: 29px;
}

.passionate-text {

    font-size: 29px;
    color: var(--primary-green);
    text-align: left;
}

.change-text {

    color: var(--white-color);
    font-size: 28px;
}


.download-resume {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 84px;
}

.dev-img {
    height: 324px;
    width: 325px;
    margin: 20px 0px 0px 0px;
    transition: 0.5s ease-in-out;
}

.dev-img:hover {

    cursor: pointer;
    transform: scale(1.1);
}

.flex {

    display: flex;
    justify-content: center;
    overflow: hidden;
}

#home {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.icon-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

#projects {

    padding-left: 10em;
}

#projects h1 {

    text-align: left;
}

.project-container {

    width: 80vw;
    display: flex;
}

.project-img-container {

    margin-top: 26px;
    gap: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-line {

    background-color: var(--primary-green);
    width: 4px;
    height: calc(38em + 3px);
}

.horizontal-line {

    background-color: var(--primary-green);
    width: 8em;
    height: 3px;
}

.project-1 {
    width: 8em;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-1 img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    object-fit: cover;
}

.project-name {
    color: white;
    font-size: 2em;
    margin-top: 3px;
}

.description p {

    color: white;
    font-size: 17px;
    line-height: 24px;
}

.description-span {

    color: var(--primary-green);
    font-size: 22px;
    margin-top: 8px;
}

.project-description-container {

    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.git-link {

    margin-top: 6px;
    text-align: right;
}

.git-link a {

    position: relative;
}

.git-link a:before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid var(--secondary-green);
}

.git-link a:hover:before {

    width: 100%;
}

.inner-img {

    height: 111px;
    width: 188px;
}

.align-input {

    width: 50%;
    justify-content: space-between;
}

form {

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-tags {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#message {

    width: 100%;
}

textarea {

    resize: none;
}

#submit {
    text-align: center;
    width: 100%;
}

footer {

    text-align: center;
    color: var(--primary-green);
}

#up-arrow {

    height: 32px;
    width: 39px;
    cursor: pointer;
}

input, textarea {

    position: relative;
}

#role-container {

    justify-content: left;
}

@media (max-width: 768px) {
    
    #home, #contact {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #role-container {
        justify-content: center;
    }

}